<html>
<head>
    <title>Phone Ripper</title>
<style>
 
body{
    text-align: center;    
}
h1{
    font-family: 'Times New Roman';
    font-weight: normal;
    color: #83A4B3;
    font-size: 2.5em;
    text-align: center;
}
h2{
    text-align:center;
}
h3{
    text-align:center;
}
 
</style>
 
</head>
<body>
    <h2>SPLUNK PHONE RIPPER PROTOTYPE</h2> 
    <h1>Kinney Group</h1>
    <h3>Parse Index {{indexChosen}}</h3>
    <h3>GRAPH: {{graph}}</h3>
    <p>Results:</p>
    {%for x in output:%}
    <p>Target: {{x[1]}}, Count: {{x[0]}}, Percent: {{x[2]}}</p>
    {% endfor %}
<ul>
  <a href="/">Main Menu</a>
</ul>
</body>
</html>
